* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-image: url(images.jpg);

}

.imagem {
	float: left;
	margin-right: 10px;
	/* adicione uma margem à direita para separar a imagem do texto */
}

header {
	background-color: #000000;
	color: #f7f4f4;
	padding: 20px;
}

h1 {
	font-size: 36px;
	margin: 0;

}


nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #ffffff;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin: 40px 0;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input[type="text"],
form